/************************************************/
/* Global stuff */
/************************************************/
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  min-width: 1020px;
  background-color: #f4f4f4;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.code {
  font-family: monospace;
}

pre.prettyprint {
  border: none;
  margin-top: 0;
}


/************************************************/
/* Top of page (the orange fiery part) */
/************************************************/
#top {
  position: relative;
  width: 100%;
  color: white;
  background-color: #fff; /* layer fill content */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxNC42NjMwOTkyNDgxNzQxJSIgeTE9Ii04LjgxMDQ3ODg5MTEyMDQ1JSIgeDI9Ijg1LjMzNjkwMDc1MTgyNTklIiB5Mj0iMTA4LjgxMDQ3ODg5MTEyJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMTY1MjEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
  background-image: -moz-linear-gradient(301deg, #f16521 0%, #fff100 100%); /* gradient overlay */
  background-image: -o-linear-gradient(301deg, #f16521 0%, #fff100 100%); /* gradient overlay */
  background-image: -webkit-linear-gradient(301deg, #f16521 0%, #fff100 100%); /* gradient overlay */
  background-image: linear-gradient(149deg, #f16521 0%, #fff100 100%); /* gradient overlay */
}

#top-bg-tile {
  background-image: url('../images/pixelbg.png');
  width: 100%;
  height: 100%;
}

#top-content {
  position: relative;
  margin: 0 auto;
  height: 190px;
  width: 960px;
  text-align: center;
}

#download-on-github {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border: 0;
}

#top-shadow {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
  /* TODO: This isn't supposed to be stretched.  It's supposed to be under the editor; but then we have to figure
     out what to do with the edges. */
  background: url('../images/top_shadow.png') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo-small {
  position: absolute;
  left: 85px;
  top: 5px;
  background-image: url('../images/logo-small.png');
  width: 126px;
  height: 42px;
}

#page-title {
  position: absolute;
  left: 90px;
  top: 54px;
  font-size: 60px;
}

#page-links {
  position: absolute;
  left: 90px;
  top: 155px;
  font-size: 18px;
}

#header-links {
  padding-top: 15px;
  text-align: right;
  font-size: 15px;
}

#header-links a {
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
}

#page-links a {
  color: #fff;
}

#header-links a:hover {
  text-decoration: underline;
  color: #f9e701;
}


/************************************************/
/* Social sharing buttons */
/************************************************/
.social-container {
  padding: 10px 0;
  color: #5e5e5e;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f7f7f7;
}
.social-buttons {
  margin-top: 2px;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}

/************************************************/
/* Stuff below-the-fold (the white part) */
/************************************************/
#bottom {
  background-color: #f4f4f4;
}

#bottom-container {
  border: 1px solid #e2e2e2;
  border-top: 0;
  background-color: white;
  margin: 0 auto;
  width: 960px;
  -moz-box-shadow: 0 0 6px 1px #bbb;
  -webkit-box-shadow: 0 0 6px 1px #bbb;
  box-shadow: 0 0 6px 1px #bbb;
  z-index: 1;
}

.bottom-content {
  padding: 30px 90px 0;
  color: #5e5e5e;
  margin-bottom: 40px;
}

.bottom-content.separator {
  margin-top: 40px;
  border-top: 1px solid #e0e0e0;
}

/************************************************/
/* Footer */
/************************************************/
#footer {
  height: 200px;
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#footer-links {
  padding-top: 24px;
  text-align: center;
}

#powered-by-firebase {
  position: absolute;
  top: 16px;
  right: 10px;
}

#footer-links a {
  font-size: 14px;
  color: #999;
  text-decoration: none;
  margin: 0 20px;
  display: inline-block;
}

#footer-links a:hover {
  text-decoration: underline;
  color: #333;
}


/************************************************/
/* index.html specific styles. */
/************************************************/
.home-page #top-content {
  height: 920px;
}

.home-page .bottom-content {
  padding: 40px 70px 0;
}

#home-title-container {
  margin: 45px auto 0 auto;
}

#home-title {
  float:left;
  text-shadow: 0 0 10px #555;
}

#home-subtitle {
  font-size: 42px;
  text-align: center;
  text-shadow: 0 0 7px #555;
}

#home-download-on-github {
  padding: 25px 0 10px;
  display: inline-block;
  border: 0;
}

#firepad-container {
  position: relative;
  margin: 20px auto;
  width: 960px;
  height: 570px;
  background: white;
  -moz-box-shadow: 0 5px 25px #333;
  -webkit-box-shadow: 0 5px 25px #333;
  box-shadow: 0 5px 25px #333;
}

#firepad-container .firepad-userlist {
  position: absolute;
  height: 570px;
  width: 175px;
}

#firepad-container .firepad {
  position: absolute;
  left: 175px;
  width: 785px;
  height: 570px;
}

#first-bc {
  padding-top: 28px;
}
.bottom-title {
  font-size: 42px;
  color: #333;
  text-align: center;
  padding: 30px 0 0;
}

.uses-title {
  font-size: 32px;
  color: #535353;
  padding-bottom: 25px;
}

.use-icon {
  float: left;
  width: 80px;
  height: 80px;
}

.use-text {
  float: left;
  width: 240px;
  margin-bottom: 25px;
}

.use-link {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding-bottom: 5px;
  text-decoration: none;
}

.use-link:hover {
  color: #eb8717;
  text-decoration: underline;
}

.uses-col {
  float: left;
  width: 325px;
  margin-left: 70px;
}

.faq-col {
  float: left;
  width: 375px;
}

.faq-col:last-child {
  margin-left: 70px;
}

.faq-question {
  margin-bottom: 40px;
  font-size: 13px;
  color: #5e5e5e;
}

.faq-title {
  font-size: 32px;
  color: #535353;
  padding-bottom: 15px;
}


/************************************************/
/* examples/ specific styles. */
/************************************************/
.examples-page #top-content {
  height: 150px;
}

.examples-page .bottom-content {
  padding: 16px 0 0;
}

#view-source {
  position: absolute;
  right: -3px;
  top: 140px;
}

#example-container {
  position: absolute;
  border: none;
  left: 0;
  top: 190px;
  width: 960px;
  height: 570px;
  background: white;
  /* TODO: Tune these more? */
  -moz-box-shadow: 0 5px 25px #333;
  -webkit-box-shadow: 0 5px 25px #333;
  box-shadow: 0 5px 25px #333;
}

.example {
  float: left;
  position: relative;
  padding: 15px 20px;
  margin-left: 8px;
  width: 258px;
  height: 105px;
  border: 1px solid #fff;
  color: #5e5e5e;
  font-size: 13px;
}

.example-title {
  color: #535353;
  font-size: 36px;
  margin-bottom: 5px;
}

.example a {
  color: #eb8717;
}

.example-see-it {
  position: absolute;
  display: block;
  left: 20px;
  bottom: 20px;
}

.example-view-source {
  position: absolute;
  display: none;
  right: 20px;
  bottom: 20px;
}

.selected .example-view-source {
  display: block;
}

.example.selected {
  background-color: #f4f4f4;
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  -moz-box-shadow:    0px 2px 10px rgba(0, 0, 0, 0.12);
  box-shadow:         0px 2px 10px rgba(0, 0, 0, 0.12);
}

#page-links .selected {
  text-decoration: none;
  font-weight: bold;
  cursor: default;
}

#page-links a:hover {
  color: #f9e701;
}

/************************************************/
/* docs/ specific styles */
/************************************************/
#docs-content {
  padding: 30px 90px 0;
  color: #5e5e5e;
  margin-bottom: 40px;
}

.docs-separator {
  height: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  border-top: 1px solid #e0e0e0;
}

#docs-content p {
  margin: 0 0 10px;
}

#docs-content h1 {
  font-size: 36px;
  color: #535353;
  margin-top: 0;
  margin-bottom: 5px;
}

#docs-content h2 {
  margin-bottom: 0;
  font-size: 19px;
}

#docs-content a {
  color: #eb8717;
}

#docs-content .emphasis-box {
  border: 1px solid #e5a165;
  background: #ffbf86;
  padding: 10px 90px;
  color: #000;
  font-size: 16px;
}

#docs-content .emphasis-box a {
  color: #dc4700;
}
