#above-fold {
  position: relative;
  width: 100%;
  height: 890px;
  color: white;
  background-color: #fff; /* layer fill content */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxNC42NjMwOTkyNDgxNzQxJSIgeTE9Ii04LjgxMDQ3ODg5MTEyMDQ1JSIgeDI9Ijg1LjMzNjkwMDc1MTgyNTklIiB5Mj0iMTA4LjgxMDQ3ODg5MTEyJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMTY1MjEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
  background-image: -moz-linear-gradient(301deg, #f16521 0%, #fff100 100%); /* gradient overlay */
  background-image: -o-linear-gradient(301deg, #f16521 0%, #fff100 100%); /* gradient overlay */
  background-image: -webkit-linear-gradient(301deg, #f16521 0%, #fff100 100%); /* gradient overlay */
  background-image: linear-gradient(149deg, #f16521 0%, #fff100 100%); /* gradient overlay */
}

#above-fold-bg-tile {
  background-image: url('../images/pixelbg.png');
  width: 100%;
  height: 100%;
}

#bg-left {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
}

#bg-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}

#above-fold-content {
  position: relative;
  margin: 0 auto;
  height:100%;
  width: 960px;
  text-align: center;
}

.above-fold-shadow {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
  /* TODO: This isn't supposed to be stretched.  It's supposed to be under the editor; but then we have to figure
     out what to do with the edges. */
  background: url('../images/above_fold_shadow.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#page-title-container {
  display: inline-block;
  margin: 25px auto 0 auto;
  font-size: 72px;
}

#page-title {
  float:left;
}

#logo {
  float:left;
  background: url('../images/logo-big.png') no-repeat bottom;
  width: 261px;
  height: 68px;
  padding-top: 8px;
  padding-left: 30px;
}

#page-subtitle {
  margin-top: 5px;
  font-size: 36px;
  text-align: center;
}

#download-on-github {
  padding-top: 15px;
  display: inline-block;
  border: 0;
}

#firepad-container {
  position: relative;
  margin: 20px auto;
  width: 960px;
  height: 570px;
  background: white;
  /* TODO: Tune these more? */
  -moz-box-shadow: 0 5px 25px #333;
  -webkit-box-shadow: 0 5px 25px #333;
  box-shadow: 0 5px 25px #333;
}

#firepad-container .firepad-userlist {
  position: absolute;
  height: 570px;
  width: 175px;
}

#firepad-container .firepad {
  position: absolute;
  left: 175px;
  width: 785px;
  height: 570px;
}

#below-fold {
  border-top: 1px solid black;
  background-color: #f4f4f4;
}

#below-fold-container {
  border: 1px solid #e2e2e2;
  border-top: 0;
  background-color: white;
  margin: 0 auto;
  width: 960px;
}

.below-fold-content {
  padding: 40px 70px;
}

.below-fold-content.separator {
  border-top: 1px solid #e0e0e0;
}

#uses .title {
  font-size: 36px;
  color: #535353;
  padding-bottom: 25px;
}

#uses .icon {
  float: left;
  width: 80px;
  height: 80px;
}

#uses .text {
  float: left;
  width: 220px;
  height: 150px;
}

#uses .use-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-decoration: underline;
  padding-bottom: 10px;
}

.uses-col {
  float: left;
  width: 305px;
  margin-left: 70px;
}

#below-fold hr {
  color: #e0e0e0;
}

.faq-col {
  float: left;
  width: 375px;
}

.faq-col:last-child {
  margin-left: 70px;
}

.faq-question {
  margin-bottom: 40px;
  font-size: 13px;
  color: #5e5e5e;
}

.faq-title {
  font-size: 36px;
  color: #535353;
  padding-bottom: 15px;
}
