/************************************************/
/* Global stuff */
/************************************************/
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  min-width: 1020px;
  height: 100%;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.code {
  font-family: monospace;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #eb8717;
  text-decoration: underline;
}

a img {
  border-style: none;
}


.row {
  margin-left: -20px;
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}

.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

/************************************************/
/* Top of page (the orange fiery part) */
/************************************************/
#top {
  position: relative;
  width: 100%;
  color: white;
  background-color: #fff; /* layer fill content */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxNC42NjMwOTkyNDgxNzQxJSIgeTE9Ii04LjgxMDQ3ODg5MTEyMDQ1JSIgeDI9Ijg1LjMzNjkwMDc1MTgyNTklIiB5Mj0iMTA4LjgxMDQ3ODg5MTEyJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMTY1MjEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
  background-image: -moz-linear-gradient(301deg, #f16521 0%, #fff100 100%); /* gradient overlay */
  background-image: -o-linear-gradient(301deg, #f16521 0%, #fff100 100%); /* gradient overlay */
  background-image: -webkit-linear-gradient(301deg, #f16521 0%, #fff100 100%); /* gradient overlay */
  background-image: linear-gradient(149deg, #f16521 0%, #fff100 100%); /* gradient overlay */
}

#top-bg-tile {
  background-image: url('../images/pixelbg.png');
  width: 100%;
  height: 100%;
}

#top-content {
  position: relative;
  margin: 0 auto;
  height: 150px;
  width: 960px;
  text-align: center;
}

#download-on-github {
  float: right;
  margin-top: 35px;
}

#top-shadow {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
  /* TODO: This isn't supposed to be stretched.  It's supposed to be under the editor; but then we have to figure
     out what to do with the edges. */
  background: url('../images/top_shadow.png') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#private-firepad-link {
  margin-bottom: 5px;
}
#private-firepad-link a {
  float: right;
  color: #fff;
  display: block;
}
#private-firepad-link a:hover {
  text-decoration: underline;
  color: #eb8717;
}

#logo-small {
  position: absolute;
  left: 85px;
  top: 5px;
  background-image: url('../images/logo-small.png');
  width: 126px;
  height: 42px;
}

#page-title {
  position: absolute;
  left: 90px;
  top: 54px;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2em;
}

#page-links {
  position: absolute;
  left: 90px;
  top: 155px;
  font-size: 18px;
}

#header-links {
  padding-top: 15px;
  text-align: right;
  font-size: 15px;
}

#header-links a {
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
  color: #fcfcfc;
}

#header-links a:last-child {
  background: url('../images/private_pad.png') 0 -28px;
  height: 28px;
  width: 114px;
  float: right;
  margin-top: -5px;
}

#header-links a:last-child:hover {
  background: url('../images/private_pad.png') 0 0;
  height: 28px;
  width: 114px;
}

#page-links a {
  color: #fff;
}

#header-links a:hover {
  text-decoration: underline;
  color: #f9e701;
}

#header-links a.selected {
  text-decoration: none;
  color: #fff;
}


/************************************************/
/* Social sharing buttons */
/************************************************/
.social-container {
  padding: 10px 0;
  color: #5e5e5e;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f7f7f7;
}
.social-buttons {
  margin-top: 2px;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.social-buttons li {
  display: inline-block;
  padding: 6px 8px 5px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}
.fb-btn {
  position: relative;
  top: -2px;
}

/************************************************/
/* Stuff below-the-fold (the white part) */
/************************************************/
#bottom {
  background-color: #f4f4f4;
}

#bottom-container {
  border: 1px solid #e2e2e2;
  border-top: 0;
  background-color: white;
  margin: 0 auto;
  width: 960px;
  -moz-box-shadow: 0 0 6px 1px #bbb;
  -webkit-box-shadow: 0 0 6px 1px #bbb;
  box-shadow: 0 0 6px 1px #bbb;
  z-index: 1;
}

.bottom-content {
  padding: 30px 90px 0;
  color: #5e5e5e;
  margin-bottom: 40px;
}

.bottom-content.separator {
  margin-top: 40px;
  border-top: 1px solid #e0e0e0;
}

.build-something {
  margin: auto;
  margin-top: 30px;
  width: 500px;
  font-style: italic;
}

/************************************************/
/* sidebar for docs & examples */
/************************************************/
.sidenav {
  width: 178px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  box-shadow: 0 1px 4px rgba(0,0,0,.065);
  list-style-type: none;
}

.sidenav > li > a {
  display: block;
  width: 150px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
  box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.sidenav .active .icon-chevron-right,
.sidenav .active a:hover .icon-chevron-right {
  /* background-image: url(../img/glyphicons-halflings-white.png); */
  opacity: 1;
}
.sidenav.affix {
  top: 0;
}
.sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}


/************************************************/
/* Footer */
/************************************************/
#footer-wrap {
  border-top: 1px solid #ccc;
  background-color: #f4f4f4;
  margin-top: 50px;
}

#footer {
  height: 200px;
  margin: 0 auto;
  width: 960px;
  position: relative;
}

#footer-links {
  padding-top: 24px;
  text-align: center;
}

#powered-by-firebase {
  position: absolute;
  top: 16px;
  right: 10px;
}

#footer-links a {
  font-size: 14px;
  color: #999;
  text-decoration: none;
  margin: 0 20px;
  display: inline-block;
}

#footer-links a:hover {
  text-decoration: underline;
  color: #333;
}


/************************************************/
/* index.html specific styles. */
/************************************************/
.home-page #top-content {
  height: 548px;
}

.home-page .bottom-content {
  padding: 40px 70px 0;
}

#home-title-container {
  margin: 45px auto 0 auto;
}

#home-title {
  float:left;
  text-shadow: 0 0 10px #555;
}

#home-subtitle {
  font-size: 42px;
  text-align: center;
  text-shadow: 0 0 7px #555;
}

#home-download-on-github {
  padding: 25px 0 10px;
  display: inline-block;
  border: 0;
}

#firepad-container {
  position: relative;
  margin: 20px auto;
  width: 880px;
  height: 400px;
  background: white;
  -moz-box-shadow: 0 5px 25px #333;
  -webkit-box-shadow: 0 5px 25px #333;
  box-shadow: 0 5px 25px #333;
}

#firepad-container .firepad-userlist {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: auto;
  width: 175px;
}

#firepad-container .firepad {
  position: absolute;
  left: 175px;
  right: 0;
  height: 100%;
  width: auto;
}

#code-container {
  width: 600px;
  margin: 22px auto;
}

#code-heading {
  text-align: left;
  font-size: 22px;
  margin-bottom: 2px;
}

#code-heading a {
  color: #f9e701;
  text-decoration: underline;
}

#code-container pre {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 0;
  padding: 20px;
  border-radius: 4px;
  text-align: left;
  font-size: 14px;
  color: #000;
  line-height: 20px;
  font-family: monospace;
}

#code-examples-link {
  display: block;
  float: right;
  margin-top: 5px;
  font-size: 17px;
  color: #fff;
}

#first-bc {
  padding-top: 28px;
}
.bottom-title {
  font-size: 42px;
  color: #333;
  text-align: center;
  padding: 30px 0 0;
}

.uses-title {
  font-size: 32px;
  color: #535353;
  padding-bottom: 25px;
}

.use-icon {
  float: left;
  width: 80px;
  height: 80px;
}

.use-text {
  float: left;
  width: 240px;
  margin-bottom: 25px;
}

.use-link {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding-bottom: 5px;
  text-decoration: underline;
}

.use-link:hover {
  color: #eb8717;
  text-decoration: underline;
}

.uses-col {
  float: left;
  width: 325px;
  margin-left: 70px;
}

.faq-col {
  float: left;
  width: 375px;
}

.faq-col:last-child {
  margin-left: 70px;
}

.faq-question {
  margin-bottom: 35px;
  font-size: 14px;
  color: #5e5e5e;
}

.faq-title {
  font-size: 30px;
  color: #535353;
  padding-bottom: 10px;
}

.faq-question span {
  line-height: 1.3em;
}

/************************************************/
/* examples/ specific styles. */
/************************************************/

.examples-page {
  background: #fcfcfc;
}

.examples-page #top-content {
  height: 150px;
}

.examples-page .bottom-content {
  padding: 16px 0 0;
}

.example-container {
  position: relative;
  width: 705px;
  height: 290px;
  background: white;
  border: 1px solid #777;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.11);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,.11);
  box-shadow: 0 2px 5px rgba(0,0,0,.11);
}

.example-container .firepad {
  width: 100%;
  height: 100%;
}

#userlist .firepad {
  position: absolute;
  left: 175px;
  right: 0;
  width: auto;
  height: 290px;
}

#userlist .firepad-userlist {
  position: absolute;
  width: 175px;
  height: 290px;
}

.example-view-source {
  float: right;
  margin-top: -10px;
}

#page-links .selected {
  text-decoration: none;
  font-weight: bold;
  cursor: default;
}

#page-links a:hover {
  color: #f9e701;
}

.example-title {
  margin-top: 60px;
  font-size: 32px;
  color: #535353;
  padding-bottom: 15px;
}

/************************************************/
/* docs/ specific styles */
/************************************************/

h1 {
  font-size: 34px;
  color: #333;
  margin: 20px 0;
  padding-top: 25px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  clear: both;
}

h2 {
  font-size: 24px;
  color: #535353;
  margin: 10px 0;
  padding-top: 10px;
  font-weight: normal;
  font-family: "Helvetica Neue", sans-serif;
  clear: both;
}

.docs-page {
  background: #fcfcfc;
}

#docs-content {
  padding: 30px 90px 0;
  color: #5e5e5e;
  margin-bottom: 40px;
}

.docs-page pre {
  margin: 20px 10px;
  padding: 15px 10px;
}

.docs-separator {
  height: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  border-top: 1px solid #e0e0e0;
}

#docs-content p {
  margin: 0 0 10px;
}

#docs-content h1 {
  font-size: 36px;
  color: #535353;
  margin-top: 0;
  margin-bottom: 15px;
}

#docs-content h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 19px;
}

#docs-content a {
  color: #eb8717;
}

#docs-content .emphasis-box {
  border: 1px solid #e5a165;
  background: #ffbf86;
  padding: 10px 90px;
  color: #000;
  font-size: 16px;
}

#docs-content .emphasis-box a {
  color: #dc4700;
}

.error-page #top {
  height: 200px;
}
