<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Firepad - Documentation</title>

  <link rel="stylesheet" href="../css/global.css" />
  <link rel="stylesheet" href="../css/borland.css" />
</head>

<body>
  <a href="https://github.com/firebase/firepad">
    <img style="position: absolute; top: 0; left: 0; border: 0; z-index: 1;" src="../images/fork_on_github.png" alt="Fork me on GitHub">
  </a>
  <div id="top">
    <div id="top-shadow"></div>
    <div id="top-bg-tile">
      <div id="fork-on-github"></div>
      <div id="top-content">
        <div id="header-links" class="clearfix">
          <a href="../">Home</a>
          <a href="../examples/">Examples</a>
          <a href="../docs/">Documentation</a>
          <a href="http://demo.firepad.io/" target="_blank">Demo</a>
        </div>
        <a href="../">
          <div id="logo-small"></div>
        </a>
        <div id="page-title">Documentation</div>
        <div id="page-links">
          <a href="#getting_started">Getting Started</a> |
          <a href="#api">API</a> |
          <a href="#firebase">Firebase Data</a> |
          <a href="#extending">Extending</a>
        </div>
        <a href="https://github.com/firebase/firepad" id="download-on-github"><img src="../images/download.png"></a>
      </div>
    </div>
  </div>

  <div id="bottom">
    <div id="bottom-container">
      <div id="docs-content">
        {{ content }}
      </div>
    </div>
    <div id="footer">
      <div id="footer-links">
        <a href="../">Home</a>
        <a href="../examples/">Examples</a>
        <a href="https://github.com/firebase/firepad" target="_blank">GitHub Project</a>
        <a href="mailto:firepad@firebase.com?subject=[FirePad Question]" target="_blank">Contact</a>
      </div>
      <div id="powered-by-firebase">
        <a href="https://www.firebase.com/"><img src="../images/powered-by-firebase-dim.png"></a>
      </div>
    </div>
  </div>
</body>
</html>
